$prim-color: #192655;
$prim-color-10:#1926551a;

html {
 body {
  #app {
   padding-bottom: 75px;
   spacer-sm {
    display: block;
    height: 20px;
   }

   spacer-md {
    display: block;
    height: 40px;
   }

   spacer-lg {
    display: block;
    height: 60px;
   }

   #fab {
    position: fixed;
    right: 15px;
    bottom: 15px;
    border-radius: 50px;
    width: 60px;
    height: 60px;
    padding: 0px;
    margin: 0px;
    box-shadow: 3px 3px 10px 3px #535353;
    background-color: #192655;
    border-color: #192655;

    .fab {
     width: 60px;
     height: 60px;
     line-height: 60px;
     font-size: 40px;
    }
   }

   input.button-primary {
    background-color: #192655;
    border-color: #192655;
   }

   .button.button-outline {
    border-color: #192655;
    color: #192655;
   }
  }

  #ui-datepicker-div {
   .ui-datepicker-calendar{
    display: inline-table;
   }
   .ui-widget-header {
    background: $prim-color;
    color: #fff;

    .ui-icon {
     filter: brightness(100);
    }
   }
   .ui-state-default, .ui-widget-content .ui-state-default{
    background: $prim-color-10;
   }
  }

 }
}