html{
 body{
  #app{
   spacer-sm{
    display: block;
    height: 20px;
   }
   spacer-md{
    display: block;
    height: 40px;
   }
   spacer-lg{
    display: block;
    height: 60px;
   }
  }
 }
}